.button {
    composes: flexContainer from "../../global-styles/flex.css";
    background-color: var(--color-light-grey);
    border: none;
    gap: 0.5rem;
    cursor: pointer;
    padding: 6px 12px;
    text-align: center;
    min-width: 44px;
    min-height: 44px;
    padding: 8px;
    border-radius: 8px;
    color: var(--color-black);
    

    /* fix text and border rendering on transforms */
    will-change: transform, box-shadow;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* smooth transitions */
    transition: all 0.3s ease-in-out;

    &:hover {
        opacity: 0.7;
        transform: scale(1.01);
    }

    & svg {
        width: 24px;
        height: 24px;
        color: var(--color-black);
    }
}
.accentedButton {
    composes: button;
    background-color: var(--color-accent);
    border-color: var(--color-accent-dark);
    color: var(--color-white);

    & svg {
        color: var(--color-white);
    }

    /* subtle neon shadow pulse animation */
    box-shadow: 0 0 4px var(--color-accent), 0 0 8px var(--color-accent);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, box-shadow 0.6s ease-in-out;

    &:hover {
        /* gentle glowing pulse on hover */
        box-shadow: 0 0 8px var(--color-accent), 0 0 16px var(--color-accent-light);
    }
}
