.store {
    padding: 2rem;
    width: 100%;
}

.productGridContainer {


}

.productGrid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(
        auto-fit,
        minmax(200px, 1fr)
    );
}

@media (min-width: 1000px ) {
    .productGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}