.store {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;

    & h1 {
        font-size: 3rem;
    }
}

.searchBarContainer {
    display: none;
    width: 100%;
    justify-content: center;
    padding: 1rem;
}

.storeMain {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.clearSearchButton {
    padding: 0.2rem;
    background: transparent;
    color: var(--color-accent);
    border: none;
    width: 300px;
    align-self: center;
    &:hover {   
        opacity: 0.7;
        transform: scale(1.01);
    }
}

.productGrid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(
        auto-fit,
        minmax(200px, 1fr)
    );
    position: relative;
    animation: fadeInUp 1.3s;
    grid-auto-rows: 1fr;
    align-items: stretch;
}

@keyframes fadeInUp {
  from{
    top: 10vh;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

@media (min-width: 1000px ) {
    .productGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.filterBar {
    background-color: var(--color-white);
    border: solid 1px var(--color-grey);
    padding: 0.5rem;
    border-radius: 8px;
    display: flex;
    gap: 0.5rem;

}

.filterButton {
    composes: button from '../../components/Button/Button.module.css';
    background-color: var(--color-light-grey);
    color: var(--color-black);
    flex: 1;
    border-radius: 8px;

    &:hover {
        background-color: var(--color-accent);
        border-color: var(--color-accent-dark);
        color: var(--color-white);
        transition: transform 180ms ease-in-out, opacity 180s ease-in-out;
    }
}

.filterButton.active {
        background-color: var(--color-accent);
        border-color: var(--color-accent-dark);
        color: var(--color-white);
}

.noProductsMessage {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .store {
        gap: 1rem;
        padding: 0.5rem;
    }

    .header h1 {
        font-size: 2rem;
    }

    .searchBarContainer {
        display: flex;
    }

    .storeMain {
        padding: 0.2rem;
    }

    .filterBar {
        flex-wrap: wrap;
    }

    .filterButton {
        flex: 1 0 100px;
    }

    .productGridContainer {
        padding: 0.5rem;
    }
}