.dialog{
    border: 2px solid var(--color-accent);
    border-radius: 12px;
    padding: 2rem;
    position: relative;
    bottom: 25%;
}

.dialog::backdrop {
    background: rgba(0,0,0,0.5)
}


.dialogImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
}


.dialogContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    & p {
        text-align: center;
        font-weight: 500;
    }
}

.clearButton {
    composes: accentedButton from '../../components/Button/Button.module.css';
    border-radius: 8px;
    width: 200px;
}

