.hero {
  composes: flexContainer from "../../global-styles/flex.css";
  width: 80%;
  height: 60vh;
  padding: 10px; 
  gap: 1rem;
}

.heroLeftContainer {
  display: grid;
  gap: 1.5rem;
  flex: 1;

  & h1 {
    font-family: 'Orbitron', sans-serif;
  }

  & button {
    font-size: 20px; 
    padding: 12px 24px; 
    font-weight: 600; 
    text-transform: uppercase;
  }
}

.heroRightContainer {
  flex: 1;
}

