.card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-grey);
    border-radius: 12px;
    background-color: var(--color-white);
    position: relative;
    height: 100%;


    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        transition: all 0.2s ease-in-out;
    }
}

.card.extended {
    padding: 1rem;

    & .imageLink {
        display: none;
    }

    &:hover {
        transform: none;
        box-shadow: none;
    }
}

.imageLink {
    padding: 1rem;
    flex: 1;
}

.productImage {
    object-fit: contain;
}

.backLink {
    composes: flexContainer from '../../global-styles/flex.css';
    color: var(--color-accent);
    gap: 0.5rem;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
    position: absolute;
    right: 1rem;

    &:hover {
        color: var(--color-accent-light);
        text-decoration: underline;
    }
}

.details {
    padding: 1rem;
    align-content: center;
    display: flex;
    flex-direction: column;
    
}

.title {
    font-weight: 500;
    flex: 1;
}

.price {
    color: var(--color-accent);
    font-weight: 600;
    font-size: 1.2rem;
}

.description {
    border-top: 1px solid var(--color-grey);
    padding: 3rem 1rem;
    flex: 1;
}

.actions {
    border-top: 1px solid var(--color-grey);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.quantityWrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    border-radius: 8px;
    border: 1px solid var(--color-grey);

    & > button:nth-of-type(1) {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    & > button:nth-of-type(2) {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

.quantityInput {
    text-align: center;
    border: none;
    background-color: var(--color-light-grey);
    border-right: 1px solid var(--color-grey);
    border-left: 1px solid var(--color-grey);
}

.quantityButton {
    composes: flexContainer from "../../global-styles/flex.css";
    border: none;
    background-color: var(--color-light-grey);
    color: var(--color-black);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    transition: color 0.3s ease-in-out;
    
    &:hover {
        color: var(--color-accent);
    }
}

.addButton {
    composes: accentedButton from '../Button/Button.module.css';
    border-radius: 8px;
    flex: 1;
}

.visible {
    transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.5s ease-in-out;
    transform: translateY(0);
    opacity: 1;
}

.hidden {
    opacity: 0;
    position: absolute;
    transform: translateY(-100%);
}




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

@media (max-width: 768px) {
    .backLink *{
        display: none;
    }

    .card {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        height: auto;
    }

    .card:hover {
        transform: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }
}
