.productContainer {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 80% 20%;
    padding: 2rem;
    gap: 1rem;
    max-height: 80vh;

}

.currentImageContainer {
    border: 1px solid var(--color-grey);
    border-radius: 8px;
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.currentImage {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.thumbnailGrid {
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 0.3rem;
    overflow-x: auto;
}

.imageSelector {
    padding: 0.5rem;
    border: 1px solid var(--color-grey);
    border-radius: 8px;
    cursor: pointer;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;


    & img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
}

.imageSelector.active {
    border: 2px solid var(--color-accent);
    box-shadow: 0 0 4px var(--color-accent), 0 0 8px var(--color-accent);
}

.descriptionSection {
    grid-column: 2;
    grid-row: 1 / span 2;
    height: 100%;
    width: 100%;
}


@media (max-width: 768px) {
  .productContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 10% 60%;
    padding: 0.7rem;
    max-height: none;
    flex: 1;
  }

  .currentImageContainer {
    grid-column: 1;
    grid-row: 1;
  }

  .thumbnailGrid {
    grid-column: 1;
    grid-row: 2;
  }

  .descriptionSection {
    grid-column: 1;
    grid-row: 3;
    height: 95%;
    display: flex;
  }
}


