.productContainer {
    display: flex;
    padding: 2rem;
    gap: 1rem;
    align-items: stretch;
    min-height: 80vh;
}

.imageSection {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 40%;
    gap: 1rem;
}

.currentImageContainer {
    border: 1px solid var(--color-grey);
    border-radius: 8px;
    flex: 1 1 70%;
    overflow: hidden;
}

.currentImage {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.thumbnailGrid {
    display: flex;
    gap: 0.3rem;
    flex: 0 0 20%;
    overflow-x: auto;
}

.imageSelector {
    padding: 0.5rem;
    border: 1px solid var(--color-grey);
    border-radius: 8px;
    cursor: pointer;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;


    & img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
}

.imageSelector.active {
    border: 2px solid var(--color-accent);
    box-shadow: 0 0 4px var(--color-accent), 0 0 8px var(--color-accent);
}


@media (max-width: 768px) {
    .productContainer {
        flex-direction: column;
    }


}

