.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    background-color: var(--color-white);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);


    & > button {
        display: none;
    }
}

.logo {
    composes: flexContainer from "../../global-styles/flex.css";
    gap: 0.5rem;

    & img {
        height: 40px;
        width: auto;
    }

    & h1 {
        font-family: "Audiowide", sans-serif;
        font-size: 1.75rem;
        letter-spacing: 1px;
        color: var(--color-black);
    }
}

.searchBar {
    composes: flexContainer from "../../global-styles/flex.css";
    gap: 0.5rem;
    max-width: 400px;
    width: 100%;
}

.input {
    flex: 1;
    padding: 0.3rem 0.75rem;
    border: 2px solid var(--color-black);
    border-radius: 24px;
    font-size: 1rem;
}

.inputBtn {
    composes: flexContainer from "../../global-styles/flex.css";
    border-radius: 16px;
    border: none;
    background: none;
    cursor: pointer;
    
    

    & svg {
        height: 28px;
        width: 28px;
        color: var(--color-black);
        transition: transform 0.2s ease-in-out;
    }

    & svg:hover {
        opacity: 0.7;
        transform: scale(1.2);
    }
}

.nav{
    display: flex;
}

.navUl {
    composes: flexContainer from "../../global-styles/flex.css";
    gap: 2rem;
}

.navLink {
    composes: flexContainer from "../../global-styles/flex.css";
    flex-direction: column;
    color: var(--color-black);

    &:hover .navIcon {
        transform: scale(1.2);
    }

    &:hover .tiltIcon {
        transform: scale(1.2) rotate(-0.05turn);
    }
}

.navIcon {
    transition: all 0.2s ease-in-out;
}


/* ----------------------------- */
/* Responsive adjustments */
/* ----------------------------- */
@media (max-width: 768px) {
    .header {
        & > button {
            display: block;
        }
    }

    .searchBar, .searchBar * {
        display: none;
    }

    .nav {
        display: none;
    }
}
