.pageContainer {
    composes: flexContainer from "../../global-styles/flex.css";
    position: relative;
    background: linear-gradient(135deg, #ffffffe5, #e8e9eebb);
    flex: 1;
    
}

.pageBackground {
    position: absolute;
    background-image: url('/circuit-board.svg');
    height: 100%;
    width: 100%;
    z-index: -1;
    mask-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
    -webkit-mask-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 1) 100%);
}
