.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 1.5rem 7rem;
    font-size: 0.9rem
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    max-width: 700px;
    gap: 1rem;

    & p > a {
        text-decoration: underline;
    }
}

.usefulLinks, .contactLinks{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.footer a {
    text-decoration: none;
    color: var(--color-light-grey);
    transition: color 0.2s ease;

    &:hover {
        color: var(--color-accent);
    }
}

.footer li {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: color 0.2s ease;
    color: var(--color-light-grey);

    & svg {
        height: 20px;
        width: auto;
    }
}

/* ----------------------------- */
/* Responsive adjustments */
/* ----------------------------- */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding: 1rem;
    }

    .about {
        align-items: center;
        text-align: center;
    }
}