.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    padding: 2rem;
    width: 100vw;
}

.returnButton {
    composes: accentedButton from '../../components/Button/Button.module.css';
    min-width: 200px;
}
