.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    padding: 2rem;
    width: 100vw;
}

.returnButton {
    composes: accentedButton from '../../components/Button/Button.module.css';
    min-width: 200px;
}

.neonBar {
  position: relative;
  width: 100%;
  height: 8px;
  background: var(--color-accent);
  box-shadow: 0 0 20px var(--color-accent-shadow),
              0 0 40px var(--color-accent-shadow);
  overflow: hidden;
  margin-top: 10rem;
}

.neonBar::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30%;
  width: 30%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    white,
    transparent
  );
  animation: glow-sweep 3s linear infinite;
}

@keyframes glow-sweep {
  0% {
    left: -30%;
  }
  100% {
    left: 100%;
  }
}


@media (prefers-reduced-motion: reduce) {
  .neonBar::before {
    animation: none;
    background: none;
  }
}
